:root {
  --primaryColor: #dabfff;
  --secondaryColor: #4f518c;
  --textColor: #907ad6;
  --lightColor: #7fdeff;
  --darkColor: #2c2a4a;
}

@font-face {
  font-family: "vazir";
  src: url("/fonts/vazir.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  font-family: vazir;
  font-weight: normal;
  direction: rtl;
  text-align: right;
}

body {
  margin: 0;
  font-family: inherit;
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--darkColor);
}

::-webkit-scrollbar-thumb {
  background-color: var(--lightColor);
  border-radius: 25px;
  box-shadow: 0 0 5px var(--lightColor);
}
.container {
  width: 100%;
  height: 100vh;
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 2.2em;
  color: var(--lightColor);
}
input {
  display: none;
}
#input-label {
  width: 350px;
  height: 50px;
  border: 2px solid var(--lightColor);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: var(--lightColor);
  border-radius: 7px;
  box-shadow: 0 0 10px var(--lightColor);
  position: relative;
  transition: all 0.3s linear;
  font-size: 1.2em;
}
#input-label:hover {
  background-color: var(--lightColor);
  box-shadow: 0 0 10px var(--lightColor);
  border: 2px solid var(--secondaryColor);
  color: var(--darkColor);
}
.error {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.1em;
}
.preview {
  display: none;
  width: 350px;
  height: 350px;
  border: 2px solid var(--lightColor);
  border-radius: 7px;
  box-shadow: 0 0 10px var(--lightColor);
  padding: 15px;
}
.preview img {
  width: 100%;
  height: 100%;
}
